{% extends 'base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<section class="section" style="background-color: red; height: 100vh;">
    <div class="container">
        <figure class="image is-flex is-justify-content-center is-align-items-center">
            <img src="/images/warning_logo.svg" style="max-width: 248px" />
        </figure> 
      <div class="has-text-centered">
        <h1 class="title is-2" style="color: white;">NA VAŠI NAPRAVI SMO ZASLEDILI 13 VIRUSOV</h1>
        <p class="subtitle is-4" style="color: white;">
            NE SAJ NE, SAMO HECAMO SE! PROSIM NE ZAMERIT!
        </p>
        <p class="subtitle is-4" style="color: white;">
            Vendar pa to prikazuje primer spletne strani, na katero bi vas lahko preusmerili boti. Povezave, kot je ta, so pogosto povezane z virusi, krajo podatkov ali drugimi nevarnostmi. Zato vas prosimo, da ne klikate naPREJ in si oglejte plakat, ki je pred vami – ta plakat vas bo seznanil z nevarnostmi, ki jih predstavljajo boti in kako se zaščititi pred njimi.
        </p>
      </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}
